<!--
Follow me on
Dribbble: https://dribbble.com/supahfunk
Twitter: https://twitter.com/supahfunk
Codepen: https://codepen.io/supah/

Picture by Ales Krivec https://unsplash.com/photos/ZSI-wuA49T0
-->

<div class="page">
    <header>
      <div class="logo"><svg><use xlink:href="#logo-dailyui"></use></svg></div>
      <nav></nav>
      <div class="search"><svg><use xlink:href="#ico-search"></use></svg></div>
    </header>
    <div class="content">
      <h1>404</h1>
      <h2>Página no encontrada</h2>
      <a>Regresar</a>
    </div>
      <img src="../../../../assets/images/Page_not_found.png" />
  </div>
  