<div class="container">
    <div class="row">
      <div class="col">
        <div class="wrapper">
          <div class="clash-card barbarian">
            <div class="clash-card__image clash-card__image--barbarian">
              <img
                src="../../../assets/images/Personal_site.png"
                alt="barbarian"
              />
            </div>
            
            <div class="clash-card__unit-name">Usuarios</div>
            <div class="clash-card__unit-description">
              Módulo
            </div>
          </div>
          <!-- end clash-card barbarian-->
        </div>
        <!-- end wrapper -->
      </div>
      <div class="col">
        <div class="wrapper">
          <div class="clash-card archer">
            <div class="clash-card__image clash-card__image--archer">
              <img
                src="../../../../assets/images/Product_mello.png"
                alt="archer"
              />
            </div>
            <div class="clash-card__unit-name">Productos</div>
            <div class="clash-card__unit-description">
              Modulo
            </div>
          </div>
          <!-- end clash-card archer-->
        </div>
        <!-- end wrapper -->
      </div>
      <div class="col">
        <div class="wrapper">
          <div class="clash-card giant">
            <div class="clash-card__image clash-card__image--giant">
              <img
                src="../../../../assets/images/Order_delivered.png"
                alt="giant"
              />
            </div>
            <div class="clash-card__unit-name">Órdenes</div>
            <div class="clash-card__unit-description">
              Modulo
            </div>
    
          </div>
          <!-- end clash-card giant-->
        </div>
        <!-- end wrapper -->
      </div>
    </div>
  </div>
